body{
    background-color: lightblue;
}
.first{
   margin-bottom: 50px;
   border-width: 1px;
   border-style: solid;
   border-color: black;
   padding: 20 px;
}
.second{
   margin-bottom: 50px;
   border-width: 1px;
   border-style: solid;
   border-color: pink;
   padding: 20 px;
}
.third{
    border-width: 1px;
    border-style: solid;
    border-color: yellow;
    padding: 20 px;
}
.btn{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    top: 300px;
}
img {
    width: 100%;
}