.container {
    max-width: 940px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }
  
  .col-1 {
    width: 8.333333%;
  }
  
  .col-2 {
    width: 16.666667%;
  }
  
  .col-3 {
    width: 25%;
  }
  
  .col-4 {
    width: 33.333333%;
  }
  
  .col-5 {
    width: 41.666667%;
  }
  
  .col-6 {
    width: 50%;
  }
  
  .col-7 {
    width: 58.333333%;
  }
  
  .col-8 {
    width: 66.666667%;
  }
  
  .col-9 {
    width: 75%;
  }
  
  .col-10 {
    width: 83.333333%;
  }
  
  .col-11 {
    width: 91.666667%;
  }
  
  .col-12 {
    width: 100%;
  }
  
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12  {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
  header {
    padding-top: 49px;
  }
  .justify-center {
    justify-content: center;
  }
 header nav a {
  color: #3d3d3d;
  text-decoration: none;
  margin-right: 36px;
}
header nav a:last-child {
  margin-right: 0;
}
.header-logo-col {
  padding-top: 51px;
}
body {
  font-family: 'Open Sans', sans-serif;
}
header{
  margin-bottom: 49px;
}
.main-item {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border: 1px solid #979797;
  padding-top: 50px;
  padding-bottom: 40px;
}
.main-item-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.main-item-img {
  width: 252px;
  height: 395.5px;
  margin-bottom: 36px;
  padding-left: 60px;
}
.group{
  display: flex;
  flex-direction: column;
  padding-left: 88px;
}
.main-item-heading {
  font-size: 36px;
  color: #3d3d3d;
  margin-bottom: 20px;
  text-align: left;
  padding-top: 20px;
}
.main-item-price {
  margin-bottom: 25px;
  width: 379px;
  height: 96px;
  text-align: left;
}
.main-item-features{
  font-size: 24px;
  margin-bottom: 15px;
  text-align: left;
}
button{
  margin-left: 80px;
}
.main-item-btn {
  width: 100%;
  border: 1px solid #3d3d3d;

  text-align: center;
  background-color: #f2f2f2;
  color: #3d3d3d;
  font-size: 20px;
  width: 283.7px;
  height: 59px;
  margin-bottom: 20px;
}
.main-item-list{
  margin-bottom: 48px;
}

.main-item-btn {
  width: 100%;
  border: 1px solid #3d3d3d;
  padding: 15px 0;
  text-align: center;
  background: #f2f2f2;
  color: #3d3d3d;
  font-size: 20px;
}
.main-item-btn-:hover {
  cursor: pointer;
}
.main-item-btn-dark {
  background-color: #3d3d3d;
  border: solid 1px #979797;
  color: #b9b9b9;
}
.main-item{
  margin-bottom: 50px;
}
.justify-center-1 {
  font-family:'Open Sans' 'bold';
  font-size: 24px;
  font-style: bold;
  justify-content: center;
  margin-bottom: 15px;
}
.card {
  display: flex;
  width: 90%;
  flex-direction: column;
  background-color: #d8d8d8;
  border: 1px solid #979797;
  padding: 0px;
  margin-bottom: 20px;
  padding: 20px;
}
.card-img {
  width: 111.3px;
  height: 178.4px;
  margin-bottom: 30px;
  display: flex;
  align-self: center;
}
.card-heading {
  font-size: 16px;
  color: #3d3d3d;
  margin-bottom: 20px;
}
.card-description {
  color: #878787;
  line-height: normal;
}
.card-price {
  font-size: 18px;
  font-weight: bold;
}
.vk {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 50px;
  text-align: center;
  background:#5f81a9;
  font-size: 20px;
  height: 63px;
  border: #5f81a9;
}
.fb {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 50px;
  text-align: center;
  background:#3a589c;
  font-size: 20px;
  height: 63px;
  border: #3a589c;
}
.tel {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 50px;
  text-align: center;
  background:#419fd9;
  font-size: 20px;
  height: 63px;
  border: #419fd9;
}
.medium {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 50px;
  text-align: center;
  background:#00e272;
  font-size: 20px;
  height: 63px;
  border: #00e272;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3d3d3d;
  padding: 40px 0;
  color: #ffffff;
  font: bold 14px;
  height: 99px;
}
.footer-links {
  margin-bottom: 20px;
}
.footer-links a {
  color: #ffffff;
  margin-right: 30px;
}
.footer-links a:last-child {
  margin-right: 0;
}